{
  "env": {
    "node": true
  },
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "rules": {
    "prettier/prettier": "error",
    "no-await-in-loop": "off",
    "no-restricted-syntax": [
      "error",
      "LabeledStatement",
      "WithStatement"
    ],
    "no-console": "off",
    "linebreak-style": 0,
    "consistent-return": "off"
  }
}
